#contentTabla{
    width: 695px;
    height: 338px;
    position: absolute;
    top: 46px;
    left: 3px;
    background: url("images/lista-productos.png") !important;       
}

#tblBusqueda{
    width: 620px;
    height: 338px;
    border-spacing: 0px;
    color: white;
    font-size: 14px;
    user-select: none;
}
#tblBusqueda tbody tr{    
    height: 33px;    
    cursor: pointer;
    background: url("images/fondo-items.png");
}
#tblBusqueda tbody tr.selected{    
    background: coral;
}
#tblBusqueda tbody tr.over{    
    background: lightslategrey;
}

#tblBusquedaScroll{
    position: absolute;
    top: 34px;
    left:10px;
    width: 660px;
    height: 290px;
    overflow: hidden;
    
}

#tblBusqueda tbody td.seccion{
    width: 50px;
}
#tblBusqueda tbody td.codigo{
    width: 50px;
}


#tblBusqueda tbody td.descripcion{
    width: 400px;
}


#tblBusqueda tbody td.precio{
    width: 150px;
}
